.about {
  @include flex-column;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 100px;
  &__description {
    @include flex-column;
    align-items: center;
    margin-top: 16px;
    // gap: 15px;
    & .menu {
      width: 90%;
      & .rotate {
        @include dropdown-rotate;
      }
      & .title {
        @include dropdown-title;
      }
      & .info {
        @include dropdown-info;
      }
      & .equipment {
        margin-bottom: 3px;
      }
    }
  }
  @include bp(mobile) {
    margin-bottom: 100px;
    &__description {
      // gap: 20px;
      // margin-top: 0;
      & .menu {
        & .info {
          @include dropdown-info;
        }
      }
    }
  }
  @include bp(tablet) {
    margin-bottom: 50px;
    &__description {
      & .menu {
        & .info {
          @include dropdown-info;
        }
      }
    }
  }
  @include bp(desktop) {
    margin-bottom: 50px;
    &__description {
      & .menu {
        & .info {
          @include dropdown-info;
        }
      }
    }
  }
}
