.appartement {
  margin: 20px 80px;
  &__description {
    @include flex-space-between;
    margin-top: 24px;
    gap: 86px;
    & .menu {
      width: 100%;
      & .rotate {
        @include dropdown-rotate;
      }
      & .title {
        @include dropdown-title;
      }
      & .info {
        @include dropdown-info;
      }
      & .equipment {
        margin-bottom: 3px;
      }
    }
  }
  @include bp(mobile) {
    margin: 30px;
    &__description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & .menu {
        width: auto;
        max-width: 100%;
        & .info {
          @include dropdown-info;
        }
      }
    }
  }
  @include bp(tablet) {
    margin: 40px;
    &__description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & .menu {
        width: auto;
        max-width: 100%;
        & .info {
          @include dropdown-info;
        }
      }
    }
  }
}
